[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
appdirs = "==1.4.4"
asn1crypto = "==1.4.0"
attrdict = "==2.0.1"
base58 = "==2.1.0"
beem = "==0.24.21"
certifi = "==2021.5.30"
charset-normalizer = "==2.0.4"
click = "==8.0.1"
click-shell = "==2.1"
colorama = "==0.4.4"
cytoolz = "==0.11.0"
diff-match-patch = "==20200713"
ecdsa = "==0.17.0"
eth-abi = "==2.1.1"
eth-account = "==0.4.0"
eth-hash = "==0.3.1"
eth-keyfile = "==0.5.1"
eth-keys = "==0.2.4"
eth-rlp = "==0.2.1"
eth-typing = "==2.2.2"
eth-utils = "==1.10.0"
hexbytes = "==0.2.1"
idna = "==3.2"
parsimonious = "==0.8.1"
prettytable = "==2.1.0"
pycryptodome = "==3.10.1"
pycryptodomex = "==3.10.1"
pytz = "==2021.1"
requests = "==2.26.0"
rlp = "==1.2.0"
"ruamel.yaml" = "==0.17.10"
"ruamel.yaml.clib" = "==0.2.6"
scrypt = "==0.8.18"
six = "==1.16.0"
toolz = "==0.11.1"
tronapi = "==3.1.6"
trx-utils = "==1.0.4"
tzlocal = "==2.1"
urllib3 = "==1.26.6"
wcwidth = "==0.2.5"
websocket-client = "==1.1.1"
APScheduler = "==3.7.0"
sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.9"
